@charset "utf-8";
/* CSS Document */
body {font: normal 100% Helvetica, Arial, sans-serif;margin: 8px 15px;}	


@media screen and (min-width: 960px){
    .heading,
    .container,
    .footing{
        width:960px;

    }
	h1 {font-size:18px;font-family: "微软雅黑";text-align: center;}
	h5{font-size: 14px;font-weight:700;margin:1em 0 0.8em 0;color:#444;font-family: "微软雅黑";}
	p{margin: 0;padding: 0;font-size:14px;color:#666;font-family: "微软雅黑";line-height:25px;}	
	.protocol {width:800px; margin:0 auto;}
}
@media screen and (min-width: 600px) and (max-width: 960px){
    .heading,
    .container,
    .footing{
        width: 600px;

    }
}
@media screen and (max-width: 600px){
    .heading,
    .container,
    .footing{
        width: 400px;
    }
	h1 {font-size: 1em;}
	h5{font-size: 0.8em;margin:1em 0 0.4em 0;color:#444}
	p{line-height:22px;margin: 0;padding: 0;font-size:0.8em;color:#666;}	

}
