*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/aircraftapi/build
/aircraftcomponent/build
/app/build
/common/build
/mqttcomponent/build
/userapi/build
/usercomponent/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
*.hprof