*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/aircraftapi/build
/aircraftcomponent/build
/app/build
/common/build
/commonmedia/build
/commonui/build
/mqttcomponent/build
/user/build
/userapi/build
/usercomponent/build
/wscomponent/build
/googlegps/build
/annotation/build
/room-processor/build/
/core-base/build
/core-db/build
/core-network/build
/core-ui/build
/core-utils/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
*.hprof
/.kotlin/
